
.about-grid {
    display: grid;
    
    grid-template-columns: repeat(3, 23.5rem);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 'about languages recommended';

    gap: 1.5rem;
    /* text-align: center; */
    height: 100%;
    /* width: 75%; */
    overflow-y: auto;
    align-items: baseline;
}

@media only screen and (max-width: 1520px) {
    
    .about-grid {
        grid-template-columns: repeat(2, 23.5rem);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 'about languages'
                            'about recommended';
        /* Padding for the scrollbar: */
        padding-right: 1rem; 
    }
}

@media only screen and (max-width: 1140px) {
    
    .about-grid {
        grid-template-columns: 23.5rem;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 'about' 
                             'recommended'
                             'languages';
        /* Padding for the scrollbar: */
        padding-right: 1rem; 
    }
}

@media only screen and (max-width: 740px) {
    
    .about-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 'about' 
                             'recommended'
                             'languages';
    }
}

.about-grid > .about {
    grid-area: about;
}

.about-grid > .skills {
    grid-area: skills;
}

.about-grid > .languages {
    grid-area: languages;
}

.about-grid > .links {
    grid-area: links;
}

.about-grid > .recommended {
    grid-area: recommended;
}

.about-grid > .tools {
    grid-area: tools;
}

.about-grid > .work {
    grid-area: work;
}