#root {
  overflow: hidden;
  height: 100%;
}

html, body {
  --padding: 1.5rem;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  /* background-image: url("https://as1.ftcdn.net/jpg/01/76/86/54/500_F_176865404_map6yWidjpQQNDz7nUQngftYbyXU7hfj.jpg"); */
  /* background-size: 2000% 2000%; */
  background-color: #fcfcfc;
  /* font-family: var(--bs-font-monospace) */
}

.code {
  font-family: var(--bs-font-monospace);
}

a.no-bottom-line {
  text-decoration: none;
}

a.bold,
NavLink.bold {
  font-weight: bold;
}

a.dark {
  color: #212529;
  text-decoration: none;
}

.popover-body {
  padding: 0;
}

.spinner-border {
  transition: opacity 0.2s linear 0.1s;
}

.box {
  padding: var(--padding);
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.layout {
  max-width: 100%;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: min-content auto;
  grid-template-areas: 'header header' 'sidebar content';
  gap: var(--padding);
  padding: var(--padding);

  overflow: hidden;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  width: 17rem;
  overflow-y: auto;
}

.content {
  grid-area: content;
  overflow: hidden;
  height: 100%;
}

.header-flex {
  display: flex;
  gap: 1.5rem;
  /* justify-content: flex-end; */
}

@media only screen and (max-width: 740px) {
  .layout {
    grid-template-columns: auto;
    grid-template-rows: min-content min-content auto;
    grid-template-areas: 'header' 'sidebar' 'content';
  }

  .sidebar {
    width: 100%;
    overflow-y: hidden;
  }

  #root{
    height: auto;
  }

  .header-flex {
    display: grid;
  }
}

/* .about {
  grid-area: about;
  width: 17rem;
  display: grid;
  align-content: space-between;
  gap: 1.5rem;
}

.about > .box > .hi {
  margin-top: -2rem;
  margin-bottom: -0.5rem;
  font-size: 15vh;
  font-weight: 800;
}

.about > .grid {
  display: grid;
  gap: 1.5rem;
} */

hr {
  color: #ced4da;
  opacity: 1;
}

.tac {
    text-align: center;
}

/* .sidebar-list {
  padding: .5rem 1.25rem;
} */

.accordion-button {
  font-weight: 600;
}

/* For sidebar: */
.btn-toggle {
  display: inline-flex;
  align-items: center;
  margin-left: -1.25em;
  padding: 0;
  font-weight: 600;
  background-color: transparent;
  border: 0;
  color: rgb(33, 37, 41);
}

.btn-toggle:hover,
.btn-toggle:focus {
  box-shadow: none;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgb%2833,37,41%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

/* .btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
} */
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  /* padding: .1875rem 1.25rem; */
  padding-top: 0.1875rem;
  /* margin-top: .125rem; */
  /* margin-left: 1.25rem; */
  text-decoration: none;
}